# Requete 2

# !!!! PENSER A CHANGER LE NUMERO DE COMPTER

Là il était à 1 (voir I.3) le suivant doit le mettre à 2 (voir I.5)

# !! Je n'ai juste pas mis l'index requete parce que je n'arrive pas à savoir à quel moment l'introduire. Mais je l'ai fait à la main pour l'avatar que je viens de créer.

In [107]:
import urllib.parse

domain = "51.91.251.0"
port = 3000
host = f"http://{domain}:{port}"
path = lambda x: urllib.parse.urljoin(host, x)

In [119]:
import numpy as np 
import random
import pandas as pd
import requests

In [109]:
http://51.91.251.0:3000/remaining-requests/12e1e6fc-456b-4738-ba59-b90c3386f583

SyntaxError: invalid syntax (<ipython-input-109-312af1d2eff9>, line 1)

In [111]:
user_id = '12e1e6fc-456b-4738-ba59-b90c3386f583'

# I.Liste pays et langues

In [110]:
language_list=['austrian', 'belgian', 'bulgarian', 'croatian', 'cypriot', 'czech', 'danish', 'dutch', 'estonian', 'finnish', 'french', 'german', 'greek', 'hungarian', 'irish', 'italian', 'latvian', 'lithuanian', 'luxembourgish', 'maltese', 'polish', 'portuguese', 'romanian', 'slovakian', 'slovene', 'spanish' ,'swedish']

city_list=['amsterdam', 'copenhagen', 'madrid', 'paris', 'rome', 'sofia', 'valletta', 'vienna','vilnius']

## I.1 Test nom avatar

In [112]:
#test
l=random.choice(language_list)
c=random.choice(city_list)
name= 'ema-'+l+'-'+c+'-avatar'+ str(num_depart)
name

'ema-slovakian-vienna-avatar1'

## I.2 Création des intervals de dates et de la liste avec les intervals

In [113]:
#Création des intervals de dates et de la liste avec les intervals
date_1=np.arange(1,16)
print(date_1)
date_2=np.arange(16,30)
print(date_2)
date_3=np.arange(30,45)
print(date_3)
date_list=[date_1,date_2,date_3]
print(date_list)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
[16 17 18 19 20 21 22 23 24 25 26 27 28 29]
[30 31 32 33 34 35 36 37 38 39 40 41 42 43 44]
[array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15]), array([16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]), array([30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44])]

In [115]:
#test
d=random.choice(date_list)
print(d)
a=random.sample(list(d),3)
a.sort(reverse=True)
print(a)

[16 17 18 19 20 21 22 23 24 25 26 27 28 29]
[26, 19, 16]

## I.3 Numéro de l'avartar qu'on va créer mtn

In [116]:
compter=1 #numéro da l'avatar créé à augmenter à chaque nouvel avatar

## I.4 Liste des requetes

In [120]:
requests_list=[]

#CREATION AVATAR
language=random.choice(language_list) # sélection d'une langue
city=random.choice(city_list) # sélection d'une ville
name = 'ema-'+language+'-'+city+'-avatar'+str(compter) # créé un nom d'avatar
print("name"+name)
r = requests.post(path(f'avatars/{user_id}/{name}'))
r = requests.get(path(f"avatars/{user_id}"))
for avatar in r.json():
    print(avatar['id'], avatar['name'])
    
    
compter+=1

ema-greek-valletta-avatar1
6217 ema-first-avatar
34250 ema-austrian1-avatar
34256 ema-belgian1-avatar
34257 ema-bulgarian1-avatar
34258 ema-croatian1-avatar
34305 ema-german1-avatar
34259 ema-cypriot1-avatar
34260 ema-czech1-avatar
34264 ema-finnish1-avatar
34265 ema-french1-avatar
34261 ema-danish1-avatar
34262 ema-dutch1-avatar
34263 ema-estanian1-avatar
34429 ema-greek1-avatar
34457 ema-irish1-avatar
34455 ema-hungarian2-avatar
34456 ema-hungarian3-avatar
34458 ema-italian1-avatar
35123 ema-belgian3-avatar
37849 ema-luxembourgish1-avatar
38438 ema-luxembourgish2-avatar
73369 ema-maltese1-avatar
73371 ema-polish2-avatar
73370 ema-polish1-avatar
92219 ema-irish2-avatar
92220 ema-italian2-avatar
92221 ema-latvian1-avatar
92222 ema-lithuanian1-avatar
95016 ema-portuguese1-avatar
95247 ema-romanian1-avatar
95248 ema-slovakian1-avatar
95249 ema-slovene1-avatar
95250 ema-spanish1-avatar
95251 ema-swedish1-avatar
96528 ema-austrian2-avatar
96530 ema-cypriot2-avatar
96532 ema-danish2-avatar
96533 ema-dutch2-avatar
96529 ema-croatian2-avatar
96534 ema-estonian2-avatar
96531 ema-czech2-avatar
146458 ema-polish4-avatar
146462 ema-romanian3-avatar
146454 ema-maltese3-avatar
146457 ema-polish3-avatar
146460 ema-portuguese3-avatar
146463 ema-slovakian2-avatar
146453 ema-maltese2-avatar
146466 ema-slovene2-avatar
146426 ema-luxembourgish3-avatar
146459 ema-portuguese2-avatar
146467 ema-spanish2-avatar
146468 ema-spanish3-avatar
146469 ema-swedish3-avatar
146515 ema-swedish2-avatar
146461 ema-romanian2-avatar
146464 ema-slovakian3-avatar
146465 ema-slovene3-avatar
131641 ema-belgian2-avatar
131648 ema-danish3-avatar
131651 ema-estonian3-avatar
131640 ema-austrian3-avatar
131643 ema-croatian3-avatar
131647 ema-czech3-avatar
131649 ema-dutch3-avatar
131645 ema-cypriot3-avatar
155054 ema-greek-valletta-avatar1

## I.5 Numero du prochain avatar (il faut le change dans I.3)

In [121]:
compter # numéro de l'avatar suivant

2

## I.6 Trois dates sélectionnées

In [124]:
# CHOIX DATE
date=random.choice(date_list) # choix d'un intervalle de temps
details_date=random.sample(list(date),3) # choix de 3 dates dans cet interval
details_date.sort(reverse = True) # classement des dates par ordre croissant
print(details_date)

[37, 36, 35]

# II. Ajout des requetes dans la requests_list

In [158]:
#AJOUT DE L AVATAR ET SES REQUETES A REQUESTS_LIST
for date in (details_date) : 
        params = {
            "avatar_name": name,
            "language": language,
            "city": city,
            "date": date,
            "mobile": np.random.randint(0,2),
        }
        print(params)
        r = requests.get(path(f"pricing/{user_id}"), params=params)
        r.json()
        
        requests_list.append(r)

In [160]:
#INDEX REQUETE

# III. BUILDING TEST

In [166]:
# BUILDING TEST

pricing_requests = []

for r in requests_list:
    pricing_requests.append(
        pd.DataFrame(r.json()['prices']).assign(**r.json()['request'])
    )

pricing_requests = pd.concat(pricing_requests)
pricing_requests.head()

   hotel_id  price  stock      city  date language  mobile  avatar_id
0       965    138     68  valletta    33    greek       0     155054
1       732    166    111  valletta    33    greek       0     155054
2       501     76     27  valletta    33    greek       0     155054
3        81    131     76  valletta    33    greek       0     155054
4       476    128     37  valletta    33    greek       0     155054

# IV. MONTAGE DU DATA TRAIN

In [169]:
data=pd.read_csv('./Datatrain/TRAIN_requete2.csv')
data=data.drop(['Unnamed: 0'],axis=1)
data

    hotel_id  price  stock      city  date language  mobile  avatar_id
0        639    149    110  valletta    35    greek       1     155054
1        376    159    115  valletta    35    greek       1     155054
2        985     68     70  valletta    35    greek       1     155054
3        377    127     84  valletta    35    greek       1     155054
4        200    130     80  valletta    35    greek       1     155054
5        371     92     66  valletta    35    greek       1     155054
6        504    149    111  valletta    35    greek       1     155054
7        404    133     32  valletta    35    greek       1     155054
8        988    128     74  valletta    35    greek       1     155054
9        244    245    139  valletta    35    greek       1     155054
10       521     67     36  valletta    35    greek       1     155054
11       501     74     32  valletta    35    greek       1     155054
12       160     92     31  valletta    35    greek       1     155054
13       859    132     72  valletta    35    greek       1     155054
14       592    227    144  valletta    35    greek       1     155054
15       466    130     80  valletta    35    greek       1     155054
16       732    161    121  valletta    35    greek       1     155054
17       861    159    103  valletta    35    greek       1     155054
18       360    161    105  valletta    35    greek       1     155054
19       598    134     82  valletta    35    greek       1     155054
20       237    143     76  valletta    35    greek       1     155054
21       491    157    115  valletta    35    greek       1     155054
22       512    172    102  valletta    35    greek       1     155054
23       709    135     76  valletta    35    greek       1     155054
24       389     98     59  valletta    35    greek       1     155054
25       363    127     78  valletta    35    greek       1     155054
26       480     68     34  valletta    35    greek       1     155054
27       719    152    130  valletta    35    greek       1     155054
28       295     70     31  valletta    35    greek       1     155054
29       282    126     72  valletta    35    greek       1     155054
30       476    124     40  valletta    35    greek       1     155054
31        81    127     86  valletta    35    greek       1     155054
32       832    130     63  valletta    35    greek       1     155054
33        55    104     60  valletta    35    greek       1     155054
34       905    127     91  valletta    35    greek       1     155054
35       643     74     34  valletta    35    greek       1     155054
36       749    101     31  valletta    35    greek       1     155054
37       325     98     33  valletta    35    greek       1     155054
38       718    138     76  valletta    35    greek       1     155054
39       965    127     78  valletta    35    greek       1     155054
40       424    151    115  valletta    35    greek       1     155054
41       400     93     70  valletta    35    greek       1     155054
42       746    148     99  valletta    35    greek       1     155054
43       754    229    156  valletta    35    greek       1     155054
44       334     76     35  valletta    35    greek       1     155054

In [170]:
pricing_requests=pd.concat([data,pricing_requests])
pricing_requests

    hotel_id  price  stock      city  date language  mobile  avatar_id
0        639    149    110  valletta    35    greek       1     155054
1        376    159    115  valletta    35    greek       1     155054
2        985     68     70  valletta    35    greek       1     155054
3        377    127     84  valletta    35    greek       1     155054
4        200    130     80  valletta    35    greek       1     155054
..       ...    ...    ...       ...   ...      ...     ...        ...
43       521     70     27  valletta    31    greek       1     155054
44       718    144     58  valletta    31    greek       1     155054
45       476    129     34  valletta    31    greek       1     155054
46       598    144     60  valletta    31    greek       1     155054
47       400    102     58  valletta    31    greek       1     155054

[141 rows x 8 columns]

In [197]:
pricing_requests.to_csv('./Datatrain/TRAIN_requete2.csv')

PermissionError: [Errno 13] Permission denied: './Datatrain/TRAIN_requete2.csv'

# V. MONTAGE DU DATA TRAIN AVEC FEATURES

In [172]:

hotels = pd.read_csv('features_hotels.csv', index_col=['hotel_id', 'city'])
pricing_requests = pricing_requests.join(hotels, on=['hotel_id', 'city'])
pricing_requests.head()

,hotel_id,price,stock,city,date,language,mobile,avatar_id,group,brand,parking,pool,children_policy
0,639,149,110,valletta,35,greek,1,155054,Yin Yang,Royal Lotus,0,1,0
1,376,159,115,valletta,35,greek,1,155054,Accar Hotels,Marcure,0,0,0
2,985,68,70,valletta,35,greek,1,155054,Independant,Independant,1,0,0
3,377,127,84,valletta,35,greek,1,155054,Boss Western,J.Halliday Inn,1,0,0
4,200,130,80,valletta,35,greek,1,155054,Boss Western,J.Halliday Inn,0,0,0

In [173]:
pricing_requests.to_csv('./Datatrain/TRAIN_requete2_features.csv')